<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.android.databaseexample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.databaseexample.home.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.databaseexample.add_user.AddUserActivity"
            android:label="@string/title_add_user"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.example.android.databaseexample.notes.AddNotesActivity"
            android:label="@string/title_add_notes"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".settings.SettingActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity"/>
        </activity>

        <activity
            android:name=".drinking_water.DrinkingWaterActivity"
            android:label="@string/title_drinking_water">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity"/>
        </activity>

        <!-- This is required for immediate syncs-->
        <!--
             By default, exported is false, if intent-filter is not specified
             for activity,service,receiver
        -->
        <service
            android:name=".sync.WaterReminderIntentService"
            android:exported="false"/>

        <!--
            By default, exported is true, if intent-filter is specified
            for activity,service,receiver-->
        <service
            android:name=".sync.WaterReminderFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <provider
            android:name="com.example.android.databaseexample.data.NotesProvider"
            android:authorities="com.example.android.databaseexample"
            android:exported="false"/>
    </application>

</manifest>